.DS_Store
.git
.github
.husky
.vscode
.dockerignore
.eslintcache
.eslintrc.js
.gitignore
.nvmrc
.prettierrc
coverage
dist
docs
examples
node_modules
.temp
test
uploads
CHANGELOG.md
Dockerfile*
LICENSE
README.md
npm-debug.log
yarn.lock
pnpm-lock.yaml
